<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="layout::site-head">
    <meta charset="UTF-8" />
    <title>Znalezione posty</title>
    <!--<style>
        .artBody img{
            width: 100%;
            height: 100%;
        }
    </style>-->
</head>

<body>
<header th:replace="layout::site-header"></header>

<div style="margin-top: 70px;" class="container">

    <div class="row">

        <div class="col-md-8">


            <h1 class="page-header">
                Wyniki wyszukiwania
            </h1>


            <div th:each="post : ${posts}">
                <h2>
                    <a href="#" th:href="@{/posts/get/{id}/(id=${post.id})}"
                       th:text="${post.title}">Post</a>
                    <span sec:authorize="isAuthenticated()">
                         <span sec:authorize="hasAuthority('ROLE_ADMIN')">
                             <a href="#" th:href="@{/admin/posts/edit/{id}/(id=${post.id})}">
                                <button class="btn btn-sm btn-primary">Edytuj</button>
                             </a>
                             <a href="#" th:href="@{/admin/posts/delete/{id}/(id=${post.id})}">
                                <button class="btn btn-sm btn-primary">Usuń</button>
                             </a>
                         </span>
                     </span>
                </h2>
                <p class="lead">
                     <span th:if="${post.author}" th:remove="tag">
                         <i>by</i>
                         <a href="#" th:href="@{/users/get/{id}/(id=${post.author.id})}"
                            th:text="${post.author.firstName} + ' ' + ${post.author.lastName}">Author</a>

                     </span>
                    <span th:if="${post.category}" th:remove="tag">
                         <i>kat. </i>
                         <a href="#" th:href="@{posts/category/{id}/(id=${post.category.id})}"
                            th:text="${post.category.category}"/>
                     </span>
                </p>
                <p>
                     <span class="glyphicon glyphicon-time"
                           th:text="' Utworzono ' + ${#dates.format(post.date, 'dd/MM/yyyy')}">
                     </span>
                </p>
                <span class="artBody">
                    <p th:utext="${#strings.abbreviate(post.body, 350)}"></p>
                 </span>
                <a class="btn btn-primary" href="#" th:href="@{/posts/get/{id}/(id=${post.id})}">
                    Czytaj więcej <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="well">
                <h4>Wyszukaj </h4>
                <form method="post" th:action="@{/posts/search}">
                    <div class="input-group">
                        <input type="text" name="title" id="title" class="form-control"/>
                        <span class="input-group-btn">
                                <button type="submit" class="btn btn-default">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer th:replace="layout::site-footer"/>

</div>



</body>

</html>